/* Stylesheet for projects pages */

#project {
	font-family: Gill Sans, Tahoma, Geneva, sans-serif;
	font-size: 1em;
	line-height:1;
	color:#656669;
}


/* Projects nav */
#projectnav{
	text-align: center;
	border-left: solid 1px #666;
	padding-left: 5px;
}

#projectnav ul{
	margin: 0 0;
	padding: 0;
}

#projectnav ul li{
	list-style-type: none;
}

#projectnav li a, #projectnav li a:visited{
	margin: 0 0;
	text-decoration:none;
	color: #252628;
}

.thumb_proj_img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 1px solid #333;
}

.sel_thumb_proj_img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 3px solid #333;
}

/* Project area */
#project_area{
	margin: 0 0;
}

.project_title{
	font-size: 1.5em;
	line-height: 1;
}

.project_logo{
	margin-bottom: 15px;
	border: 1px solid #333;
}

.project_text{
	margin-left: 10px;
}

/* Project editing form */
.desc_form_text {width:800px;height:250px;padding:5px;}
.capt_form_text {width:400px;height:70px;padding:5px;}ont-size: 1.2em;
	margin-left: 0;
}

/* Media */
#media{
	 padding: 0 0 0 0;
}
#media ul{
	padding: 0;
}
#media ul li{
	list-style-type: none;
  display: inline-block;
  zoom:1;
  *display:inline;
	line-height:1;
}



.proj_sel_thumb_img{
	border: solid 2px #333;
	margin: 0px;
	padding: 0px;
}

.proj_thumb_img{
	border: solid 1px #888;
}

.mainimage{
	border: solid 1px #888;
}

#caption{
	font-weight: bold;
}



/* Project index page */
#project_list{
	padding: 0;
}

#project_list ul{
	padding: 0;
}

#project_list ul li{
	list-style-type: none;
	display: inline-block;
	zoom:1;
	*display:inline;

	width: 210px;
	margin: 0 20px 20px 0;
	vertical-align: top;
}

.project_list_img{
	border: solid 1px #888;
}

.project_list_title{
	font-size: 1.5em;
	color: #333;
	text-decoration: none;
}


.project_list_title a, .project_list_title a:hover {
	color: #339966;
	text-decoration: none;
}

.project_list_description{
	color: #333;
}

.editlink a, .editlink a:visited, a.editlink{
	color: #333;
	text-decoration: underline;
}

.editlink a:hover, a:hover.editlink{
	color: #339966;
	text-decoration:underline;
}

.label{
	text-align:left;
}

.projectnav_label{
	text-align:center;
	font-weight:bold;
	font-size: 1.1em;
}

.margintop{
	margin-top: 20px;
}

a, a:visited{
	color: #333;
	text-decoration: underline;
}

a:hover{
	color:#339966;
	text-decoration:underline;
}
