<div class="pageheading">A little more about me</div>
<hr class="space">

<div class="span-6 last">
	<%= image_tag("me.jpg", :alt => "Sushmita photo", :class => "sushmita_photo") %>
</div>
<div class="about prepend-2 span-10 ">
<p>When I was growing up I wanted to be a detective or a musician. I wanted to 
investigate people and get to the bottom of a mystery. Or I wanted the chance 
to express myself creatively in a way that reached people. In a lot of ways, I'm 
living up to my childhood dreams by indulging both my curious and my creative urges. 
I love talking to people, finding out what makes them tick, and then designing
something that improves their life in some way. Turns out being an interaction 
designer fits me well. </p>

<p>I also enjoy cooking and eating food, art, music, running/biking,
dancing, playing with animals, and trying something new.</p>


</div>


<hr class="space">
<hr class="space">

<hr class="space">
