<!-- 
<div class="pageheading">Resume</div>
-->

<!--
 Shortcuts at the top for each section
-->

<div class="prepend-14 span-10 last">
<div class="shortcuts">
Jump to: <a href="#education">Education</a> | <a href="#experience">Experience</a> 
| <a href="#methods">Methods</a> | <a href="#tools">Tools</a> | 
<a href="#publications">Publications</a>
</div>
</div>   

<div class="prepend-20 span-4 last">
<div class="shortcuts">
Download Resume: <%= link_to ".pdf", "/files/SushmitaSubramanian_Jan2011.pdf"%>
</div>
</div>


<!--
 Education
-->

<div class="span-3">
	<a name="education" class="sectionheading">Education</a>
</div>

<div class="span-14 prepend-1 append-3 last margintop">
	<div class="section" >
	<span class="emphasis">Masters in Human Computer Interaction</span>, 
	2006 - 2007<br />
  Carnegie Mellon University, Pittsburgh, PA <br />
  Cumulative GPA: 4.0
  <hr class="space">
	
  <span class="emphasis">B.A. in Computer Science</span>, 
  2000 - 2004<br />
	Princeton University, Princeton, NJ<br />
	Cumulative GPA 3.5 | Major GPA: 3.7

	</div>

</div>

<!--
 Experience
-->

<hr class="space">
<hr class="space">
<div class="span-3">
	<a name="experience" class="sectionheading">Experience</a>
</div>

<div class="span-14 prepend-1 append-3 last margintop">
<div class="section" >
	<span class="emphasis">
		Intel Corporation, Intel Labs
	</span>, 
	Oct 2008 - Current. <br />
	Interaction Designer, Santa Clara, CA<br />
	<div class="description">
		
    <ul>
			<li>User research/design to create mobile context aware technologies</li>
			<li>Led user research to understand sharing practices on 
			microblogging and other social systems.</li>
			<li>Designed user interfaces and led user research for ground truth 
			database collection trial</li>
    		<li>Responsible for interaction design to showcase team's sensor 
    		technology work.</li>
		</ul>
	</div>
	
	<span class="emphasis">
		Intel Corporation, Rotation Engineer Program
	</span>,
  Oct 2007 - Oct 2008. <br /> 
  Strategy Planner/User Researcher/Interaction Designer, Santa Clara, CA
  <div class="description">
  	<ul>
    	<li>Third rotation in Intel Research Emerging Platforms Lab: User 
    	research/design to create wearable context aware technology.</li>
    <li>Second rotation in Intel Research Lab Berkeley: User research/design 
    to create mobile sensing platform to support citizen science.</li>
    <li>First rotation in Long Range Business Planning group. Market 
    research/analysis on next generation user interfaces.</li>
    </ul>
    
	</div>


	<span class="emphasis">
		Pittsburgh Online Research Collaboration
	</span>,
	2005 - 2006. <br />
	Project leader, Masters in HCI Capstone Project, Carnegie Mellon University, 
	Pittsburgh, PA
	<div class="description">
		<ul>
			<li>Designed and prototyped a new online system that allows researchers in 
			the Pittsburgh medical community find collaborators with appropriate skills
			and interests.</li>
			<li>Conducted user research on 20+ expert users. Used findings to design a 
			solution to improve the way researchers find and contact collaborators 
			across disciplines. Also, provided an improved process for maintaining and
			outputting professional information for CVs and grant applications.</li>
		</ul>
	</div>

	
  <span class="emphasis">
  Microsoft Windows International
	</span>,
  2005-2006. <br />
  Program Manager, Redmond, WA
	<div class="description">
		<ul>
			<li>Designed and drove user interface tools to open language support for 
			customers on the Windows/.NET Framework platforms.</li>
			<li>Managed all components and APIs dealing with custom locales and 
			locale-pertinent information for upcoming Windows/.NET Framework releases.
			</li>
		</ul>
  </div>

  <span class="emphasis">
  Microsoft Windows International
	</span>,
  2004-2005. <br />
  Software Design Engineer in Test, Redmond, WA
	<div class="description">
		<ul>
			<li>Responsible for testing Natural Langauge Support components added to
			Windows Vista.</li>
			<li>Developed new tools and frameworks for the team to test for breaks or
			regressions before check-ins.</li>
			<li>Led test team members on worldwide release of new UI-based tool. 
			Involved applications of C#, C, and Visual Studio .NET.</li>
		</ul>
  </div>
</div>
</div>

<hr class="space">

<!--
 Methods
-->

<div class="span-3">
	 <a name="methods" class="sectionheading">Methods</a>
</div>

<div class="span-14 prepend-1 append-3 last margintop">
<div class="section">
	<span class="emphasis">Explorative Methods</span><br />
	<div class="span-5">
	<ul class="nobullet">
		<li>Contextual Inquiry</li>
		<li>Card Sorting</li>
		<li>Diary Studies/Surveys</li>
		<li>Directed Storytelling</li>
		<li>Affinity Diagrams</li>
  </ul>
  </div>
  <div class="span-5">
  <ul class="nobullet">
  		<li>Focus Groups</li>
		<li>Mental Models</li>
		<li>Personas</li>
		<li>Paper Prototyping</li>
		<li>Storyboarding</li>
  </ul>
  </div>
  <div class="span-3 last">
  <ul class="nobullet">
  		<li>Use Cases</li>
		<li>Video Sketches</li>
		<li>Wireframing</li>
  </ul>
  </div>

	<hr class="space" /> 

	<span class="emphasis">Evaluative Methods</span><br />
		<div class="span-5">
		<ul class="nobullet">
			<li>Think-Aloud User Studies</li>
			<li>Heuristic Evaluation</li>
			<li>Cognitive Walkthrough</li>
		</ul>
		</div>
		<div class="span-5 ">
		<ul class="nobullet">
			<li>GOMS (KLM)</li>
			<li>Wizard of Oz</li>
			<li>Prototyping</li>
		</ul>
		</div>
</div>
</div>

<hr class="space">
<!--
 Tools
-->

<div class="span-3">
	<a name="tools" class="sectionheading">Tools</a>
</div>
<div class="span-14 prepend-1 append-3 last margintop section">
<div class="section">
	<span class="emphasis span-14 last">Programming</span>
	<ul class="nobullet span-5">
		<li>C</li>
		<li>C++</li>
		<li>Java</li>
		<li>CSS</li>
	</ul>
	<ul class="nobullet span-5 last">
		<li>C#</li>
		<li>HTML</li>
		<li>Javascript</li>
		<li>Flash</li>
	</ul>

	<hr class="space" />
	<span class="emphasis span-14 last">Design</span>
	<ul class="nobullet span-5">
		<li>Illustrator</li>
		<li>Photoshop</li>
		<li>InDesign</li>
	</ul>
	<ul class="nobullet span-5 last">
		<li>Fireworks</li>
		<li>Dreamweaver</li>
	</ul>

</div>
</div>	

<hr class="space">

<!--
  Publications
-->
<div class="span-3">
	<a name="publications" class="sectionheading">Publications</a>
</div>
<div class="span-14 prepend-1 append-3 last margintop">
<div class="section">
<p>
W. Willett, P. Aoki, N. Kumar, S. Subramanian, and A. Woodruff.  "Common Sense 
Community: Scaffolding Mobile Sensing and Analysis for Novice Users."  Proc. 
Pervasive 2010, Helsinki, Finland, May 2010, 301-318.
</p>

<p>
J.Healey, L.Nachman, S.Subramanian, J.Shahabdeen, and M.Morris. "Out of the Lab 
and into the Fray: Towards Modeling Emotion in Everyday Life." Proc. Pervasive 
2010, Helsinki, Finland, May 2010, 156-173.
</p>

<p>
S.Subramanian, W.March. "Sharing presence: can and should your tweets be 
automated?" CHI 2010, Workshop on Microblogging, Atlanta, GA, April, 2010. 
</p>
<p>
P.M. Aoki, R.J. Honicky, A. Mainwaring, C. Myers, E. Paulos, S. Subramanian, and 
A. Woodruff.  "A Vehicle for Research: Using Street Sweepers to Explore the 
Landscape of Environmental Community Action."  Proc. CHI 2009, Boston, MA, Apr. 
2009, 375-384.
</p>

<p>
P.M. Aoki, R.J. Honicky, A. Mainwaring, C. Myers, E. Paulos, S. Subramanian, and 
A. Woodruff.  "Common Sense: Mobile Environmental Sensing Platforms to Support 
Community Action and Citizen Science"  (demonstration). Adjunct Proc. Ubicomp 
2008, Seoul, Republic of Korea, Sept. 2008, 59-60.
</p>

<p>	T. Schleyer, H. Spallek, B.S. Butler, S. Subramanian, D. Weiss, M.L. 
Poythress, P. Rattanathikun, G. Mueller. "Facebook for scientists: requirements 
and services for optimizing how scientific collaborations are established". 
Journal of Medical Internet Research, 2008;10(3):e24.
</p>

<p>
T.Schleyer, H. Spallek, B.S. Butler, S. Subramanian, D. Weiss, M.L. 
Poythress, P. Rattanathikun, G. Mueller. "Requirements for expertise location
systems in biomedical science and the Semantic Web." Proceedings of “Personal 
Identification and Collaborations: Knowledge Mediation and Extraction (PICKME)”, 
workshop at the International Semantic Web Conference, 2008.
</p>

</div>
</div>
<hr class="space">
