<%= link_to "Back to Citizen Science overview", '/projects/18', :class => 'editlink' %>
<!-- Project area featuring a selected project -->
<div id="projectarea" class="span-24 margintop">

<!-- Column 1 -->
<div class="span-8">
<img alt="Common Sense Logo" src="/images/projects/commonsense/LogoImage.jpg" title="Common Sense Logo" class="project_logo"/>
<b>Research/Design Methods:</b><br />
contextual inquiry/design, directed storytelling, and concept validation
</div>

<!-- Column 2 -->
<div class="prepend-1 span-14 last">
<div class="project_text">
		<h3>Intel: Citizen Science (details)</h3>
		<p>My role: User Researcher and Interaction Design
<br>The goal for the Common Sense team was to develop a mobile sensing platform 
that would allow everyday citizens to collect, analyze, and contribute the air
quality data. 
		</p>
		
		<p><u>Motivation</u>:
<br>There are 31 official air quality sites positioned around the Bay Area.
These sites meet the EPA guidelines about what to sense, position, distance from 
freeway, height, etc. A current tension is that many citizens believe that these
sites are not accurately representing the air that they are exposed to each day 
in their neighborhoods. This is particularly a problem in the Bay Area known for
its microclimates and for neighborhoods that are sandwiched between major highways.
This project focuses on creating a mobile sensing platform that allows everyday
citizens to collect air quality data themselves.  
These platforms would ideally fit inside a person's cell phone 
or as an accessory hanging on their purse/bag. These prototypes collect less 
accurate data than the large-scale EPA-sanctioned sites, but the idea is that 
enough people collecting large amounts of data overcomes the errors. </p>

<p>This system is intended to allow people to collect data not only for themselves, but also to
contribute to the community so that groups can use data to effectively argue
for systematic changes with policymakers and urban planners. One of our main
findings from initial exploratory research was the language barrier between 
the organizations in charge (who use models, data, and charts) and the citizens 
and community leaders (who rely on stories, anecdotes, and perceived correlations).
We hope that this platform would empower citizens and activist groups to speak
the same language as those enacting change.</p>

<p>We identified a variety of motivations that engaged people on the subject of collecting
air quality data. We categorized these motivations into five categories: health impacts,
environmental concerns, education, agriculture, and urban planning. We learned
that many of our participants, regardless of their motivations, needed additional
guidance in interpreting the collected air quality data and in identifying what to 
do next with any new knowledge. These findings proved particularly helpful when 
designing a website to share the collected data. We focused on ways to present the
 data to engage people with varying motivations and to provide additional resources
 and ways to communicate with others to help interpret the data and take action.
</p>


<p>The Common Sense mobile sensing platform is still in development.
  </p>

  <%= link_to "Back to Citizen Science overview", '/projects/18', :class => 'editlink' %>	
</div>


</div>

</div>





