<hr class="space">



<div id="project_list" class="span-24 last">
	<ul>
		<% @projects.each do |project| %>
			<li>
				<% projImagePath = "projects/defaultImages/IndexImage.png" %>
				<% projImagePath = "projects/#{project.imgs_folder_name}/FrontImage.png" if not project.imgs_folder_name.blank? %>
				
				<%= link_to image_tag(projImagePath, :alt => project.name,
								:class => "project_list_img", :title => "View " + project.name),
								project %>
				<%= link_to project.name, project, :title => "View " + project.name, 
								:class => "project_list_title" %>
				<% unless project.short_description.empty? %>
					<br /><span class="project_list_description"><%= project.short_description %></span>
				<% end %>
				<%# if administrative user is logged in, display edit/delete link %>
				<% if current_user and current_user.admin? %>
				<div class="editlink">
					<%= link_to "edit/delete", edit_project_path(project), 
								:title => "Edit " + project.name %>
				</div>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
