<h1>Projects#manage</h1>

<p>This page will be the interface for managing projects. It should only be visible to a logged in user. If no user is logged in, it should go to the log in page.</p>

<p>Display:<br />
	<ul>
		<li>List of projects with appropriate links</li>
	</ul>
</p>

<p>Actions:<br />
	<ul>
		<li>Add new project</li>
		<li>Edit existing project</li>
		<li>Delete existing project</li>
	</ul>
</p>

<p>Find me in app/views/projects/manage.html.erb</p>
