<%= link_to "Back to Digital Vita overview", '/projects/6', :class => 'editlink' %>
<!-- Project area featuring a selected project -->
<div id="projectarea" class="span-24 margintop">

<!-- Column 1 -->
<div class="span-7">
<img alt="Digital Vita Logo" src="/images/projects/orca/LogoImage.png" title="Digital Vita Logo" class="project_logo"/>
<b>Research/Design Methods:</b><br />
contextual inquiry/design, concept validation, think aloud interviews, wireframes, high fidelity prototyping, and heuristic evaluation
</div>

<!-- Column 2 -->
<div class="prepend-1 span-14 last">
<div class="project_text">
		<h3>Digital Vita (details)</h3>
		<p>My role: Project Lead
<br>For our capstone project, we were hired to create an online system to help medical researchers initiate collaboration across disciplines. 
		</p>
		
		<p><u>Research/Motivation</u>:
<br>To begin our research, we conducted an extensive literature review of existing collaborative systems for researchers to understand what existed in the space at that time. We additionally conducted contextual interviews to immerse ourselves in the world of a medical researcher. 
		</p>

<p>From this research we identified two main challenges that we focused on:

<p>1. Many of our research participants strongly expressed <b>the need to find experts in other departments </b> to progress their own research goals. We were told about the challenges researchers face in first trying to identify these experts and then in trying to reach out to them without any introduction or go-between. There had been several previous attempts at online collaborative systems  that failed most of all due to obsolete data. Users and therefore any system would require up-to-date and accurate information.

<p>2. During our interviews, we found that researchers maintain a collection of professional documents that contain the biography of their academic careers. Researchers must re-enter this information several times each year to meet the template/format/style requirements for each grant application, research proposal, or CV request. We therefore identified <b>the need for a central repository of information that can be easily outputted to a variety of formats.</b>

<p><u>Our solution</u>:
<br>We designed Digital Vita to provide a central location where researchers can update and maintain their professional data, and output it into a variety of useful document formats (such as grant applications). The system also leverages this information to allow researchers to search for others in the system. The search functionality returns the most relevant researchers, based on their publications, geographical location, citations, and research interests/techniques. Our system detects existing social networks through university affiliations and coauthorship on papers. Researchers can view how they are connected to each of the search results through their existing social network, providing them a method to contact the person through an intermediary. </p>

<p>Digital Vita is in use today at the University of Pittsbugh Medical Center.
  </p>

  <%= link_to "Back to Digital Vita overview", '/projects/6', :class => 'editlink' %>	
</div>


</div>

</div>





